@import './vars';
@import './vendor/reset.scss';
html {
  font-size: 62.5%;
}
body {
  background-color: $background;
  font-size: 21px;
  color: $primary;
  overflow-x: hidden;
}


@import './blocks/header.scss';
@import './blocks/footer.scss';
@import './blocks/projectHome.scss';
@import './blocks/about.scss';
@import './blocks//target.scss';
@import './blocks/project.scss';
@import './blocks/post.scss';
