*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  line-height: 1.42857143;
}

img {
  display: block;
}

.header__menu{
  width: 45px;
  height: 39px;
  object-fit: contain;
  padding-top: 1rem;
  padding-left: 1rem;
  cursor: pointer;
}

.header__menu_band1{
  background: #909090;
  height: 2px;
  width: 26px;
  margin-bottom: 4px;
}
.header__menu_band2{
  background: #909090;
  height: 2px;
  width: 22px;
  margin-bottom: 4px;
}
.header__menu_band3{
  background: #909090;
  height: 2px;
  width: 18px;
}
.header__menu_box{
  position: relative;
  position: fixed;
  background-color: #FFFFFF;
  top: 0;
  left: -100%;
  min-width: 320px;
  height: 100vh;
  transition: 0.4s;
  overflow-y: scroll;
  z-index: 30;
}
::-webkit-scrollbar {
  width: 1px;
  background-color: #FFFFFF;
}
.header__close_background{
  width: 65px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(90deg,#f0f0f0,#fff);;
}

.header__title{
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(90deg,#004876,#176ea6,#0082c3,#176ea6,#004876);
  padding: 18px 15% 18px 0;
  margin-bottom: 0.5rem;
  color: #FFFFFF;
}

.header__item1,.header__item2,.header__item3{
  text-align: left;
  color: #000;
  text-transform: none;
  max-width: 250px;
  padding: 1rem 1rem 0 1rem;
}
.header__item4{
  font-size: 11px;
  padding: 50px 10px 0 10px;
}
.burgerBoxTitle{
  font-style: 16px;
  cursor: pointer;
}
.burgerBox1,.burgerBox2,.burgerBox3{
  display: none;
  font-size: 13px;
}

.burgerBox2List{
  list-style-type: square;
  padding-left: 30px;
  margin-bottom: 0.5rem;
}
.burgerBoxOpen{
  display: block;
}
.show-menu{
  left: 0;
}
.header__close{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  cursor: pointer;
}
.header__logo{
  width: 130px;
  height: 37px;
}
header {
  border-bottom: 2px solid rgba(201, 201, 201, 0.534);
}
.header{
  display: flex;
  justify-content: space-between;
  height: 68px;
  padding: 10px 0;
  margin: 0 5%;
}
.container{
  margin: 30px 15px 0 15px;
}
.title{
  font-size: 1rem;
  text-align: center;
}
.content__img{
  max-width: 100%;
  margin-bottom: 30px;
}

.contetn_txt{
  margin-bottom: 45px;
  font-size: 12px;
}

.dots{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1.2rem;
  color: #000;
}

.dot{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  vertical-align: middle;
  border: 2px solid #cdced2;
  margin-top: -13px;
}

.dot-active1{
  border: 2px solid rgb(65, 115, 176);
  transition: all 0.5s;
  vertical-align: middle;
}
.dot-active{
  background: linear-gradient(90deg,#004876,#176ea6,#0082c3,#176ea6,#004876);
  border: 2px solid rgb(65, 115, 176);
  transition-delay: 0.3s;
}
.dot>span{
  line-height: 27px;
  text-align: center;
  transition: all 0.5s;
}

.dot-img{
  display: none;
}
.dot-img-active{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 67%;
  height: auto;
  transition: all 0.5s;
  margin-top: 2px;
  max-width: 100%;
}

.dots-line{
  display: inline-block;
  width: 2rem;
  height: 0.2rem;
  background: #c4c4c4;
  vertical-align: middle;
  transition: all 0.5s;
}

.count{
  color: #cdced2;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.2rem;
}

.quest-txt {
  font-size: 1rem;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}
.body__wrapper{
  overflow: hidden;
}
.q1{
  transition: all linear 0.5s;
}

.quest{
  text-align: center;
}
.quest>div{
  padding: 0 20px;
}

button {
  width: 100%;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2;
  padding: 0;
  padding: 1.5rem 0;
  background: linear-gradient(90deg,#004876,#176ea6,#0082c3,#176ea6,#004876);
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem;
  text-align: center;
  outline: none;
  transition: all 0.7s ease;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
 }

.block2,.block3,.block4,.block5,.block6{
  display: none;
  transition-delay: 0.3s;
}

.questOn{
  display: block;
}
.questOff{
  display: none;
}
.dotsOff{
  display: none;
}
.lineBackground{
  background: linear-gradient(90deg,#004876,#176ea6,#0082c3,#176ea6,#004876);
  transition-delay: 0.3s;
}
footer{
  background: linear-gradient(90deg,#004876,#176ea6,#0082c3,#176ea6,#004876);
  height: 57px;
  padding: 0 10px;
  width: 100%;
  border-top: 1px solid #b7b7b7;
}
.footer__list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
}
.footer__item{
  font-weight: 300;
}
.footer__link{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

@media screen and (min-width: 440px ){
  .header__menu_box{
    min-width: 440px;
    z-index: 15;
  }
  .header__item1,.header__item2,.header__item3{
    max-width: 440px;
    padding-right: 15px;
    padding: 1rem 4rem 0 3rem;
  }
  .header__item4{
    font-size: 15px;
    text-align: center;
    padding-right: 80px;
  }
  .burgerBox2List{
    list-style-type: square;
    padding-left: 40px;
  }
}

@media screen and (min-width: 600px ){
  .footer__list{
    display: flex;
    font-size: 12px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10%;
    
  }
  .footer__item{
    font-weight: 300;
  }
  
}

@media screen and (min-width: 768px ){
  .container{
    margin: 0 auto;
    max-width: 720px;
    padding: 30px 15px 0 15px;
  }
  .content__wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .title{
    margin-bottom: 30px;
    font-size: 22px;
  }
  .content__img{
    max-width: 50%;
    object-fit: contain;
  }

  .contetn_txt{
    max-width: 50%;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 991px ){
  .container{
    max-width: 940px;
  }
}

@media screen and (min-width: 440px ){
  .container{
    max-width: 1179px;
  }
}