.about{
    width: 1440px;
    padding: 0 135px;
}
.container{
    background: #FBFBFB;
    height: 435px;
    display: flex;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 70px;
    margin-bottom: 150px;
}
.about__img{
    display: flex;
}
.about__img1{
    width: 270px;
    height: 265px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.about__img2{
    width: 270px;
    height: 345px;
    margin-right: 30px;
    margin-top: 30px;
}

.about__img3{
    width: 270px;
    height: 140px;
    margin-top: -80px;
}

.about__title{
    font-family: hovesLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 20px;
}
.about__text{
    font-family: hovesLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 20px;
}

.about__btn{
    font-family: hovesLight, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    width: 222px;
    height: 71px;
    background-color: #ffffff;
    color: #333333;
    text-transform: uppercase;
}