.header{
    width: 1440px;
    height: 102px;
}
.container{
    display: flex;
}
.logo{
    padding-top: 30px;
    padding-left: 135px;
    margin-right: 331px;
}
.nav{
    display: flex;
}

.navItem{
    padding-top: 44px;
    margin-right: 60px;
    font-family: hovesLight, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}
// .nav:first-child{
//     padding-left: 331px;
// }
.nav:last-child{
    padding-right: 269px;
}