.target{
    width: 1440px;
    padding-left: 135px;
    padding-right: 135px;
}

.target__title{
    font-family: hovesLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 60px;
}

.target__text{
    display: flex;
}

.target__text1{
    // margin-left: 134px;
    padding-left: 134px;
    position: relative;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color:#333333;
    margin-bottom: 120px;
    // margin-right: 30px;
    // padding-right: 220px;
    width: 40%;
    margin-right: 150px;

    
}
.target__text1::before{
    content: '1';
    position: absolute;
    left: -10px;
    bottom: -33px;
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 239px;
    font-family: SFProDisBold, sans-serif;
    color: #F2F2F2;
}

.target__text2{
    padding-left: 134px;
    position: relative;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color:#333333;
    margin-bottom: 120px;
    width: 60%;
    
}

.target__text2::before{
    content: '2';
    position: absolute;
    left: -20px;
    bottom: -35px;
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 239px;
    font-family: SFProDisBold, sans-serif;
    color: #F2F2F2;
    width: 100%;
    
}