<section class="about">
    <div class="container">
        <div>
            <div class="about__img">
                <img class="about__img1" src="https://raw.githubusercontent.com/ZavadskiyAS/test/master/src/assets/img/png/about1.png" alt="">
                <img class="about__img2" src="https://raw.githubusercontent.com/ZavadskiyAS/test/master/src/assets/img/png/about2.png" alt="">
            </div>
            <img class="about__img3" src="https://raw.githubusercontent.com/ZavadskiyAS/test/master/src/assets/img/png/about3.png" alt="">
        </div>
        <div>
            <h2 class="about__title">О компании</h2>
            <p class="about__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type specimen book. It has survived
                   not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
            <button class="about__btn">Читать <i class="uil uil-arrow-right"></i></button>
        </div>
    </div>
</section>