<section class="contacts">
    <h2 class="contacts__title">Связаться с нами</h2>
    <div class="wraper">
        <form>
            <input class="contacts__input1" placeholder="Имя">
            <input class="contacts__input2" placeholder="Номер телефона".>
            <input class="contacts__input3" placeholder="E-mail">
            <input class="contacts__input4" placeholder="Интересующий товар/услуга">
            <input class="contacts__input5" placeholder="Сообщение">
        </form>
        <div>
            <img class="contacts__img" src="https://raw.githubusercontent.com/ZavadskiyAS/test/master/src/assets/img/png/contact.png">
        </div>
    </div>
    <p class="contacts__text">Отправляя заявку Вы соглашаетесь
        с политикой 
       конфиденциальности</p>

    <button class="contacts__btn">Отправить <i class="uil uil-arrow-right contacts__arrow"></i></button>
</section>