<meta charset="UTF-8">
<style>@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');</style>
<link rel="stylesheet" href="assets/css/style.min.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">

<title>{{ title }}</title>
