<section class="project">
    <h2 class="project__title">Наши Проекты</h2>
    <ul class="project__imges">
        <li><a class="project__cartItem"><img class="project__img1"
                        src="https://raw.githubusercontent.com/ZavadskiyAS/test/master/src/assets/img/png/project1.png">
                        <span class="project__text project__info">
                            <span class="project__btnAbout"><i class="uil uil-arrow-right"></i></span>
                        </span>
            </a> 
        </li>
        <li><a><img class="project__img2"
                    src="https://raw.githubusercontent.com/ZavadskiyAS/test/master/src/assets/img/png/project2.png"></a>
        </li>
        <li><a><img class="project__img3"
                    src="https://raw.githubusercontent.com/ZavadskiyAS/test/master/src/assets/img/png/project3.png"></a>
        </li>
        <li><a><img class="project__img4"
                    src="https://raw.githubusercontent.com/ZavadskiyAS/test/master/src/assets/img/png/project4.png"></a>
        </li>
        <li><a><img class="project__img5"
                    src="https://raw.githubusercontent.com/ZavadskiyAS/test/master/src/assets/img/png/project5.png"></a>
        </li>
    </ul>

    <button class="project__btn">Все проекты<i class="uil uil-arrow-right"></i></button>
</section>