<section class="projectHome">
    <div class="projectHome__container">
        <h1 class="projectHome__text">PROJECT<br><span class="projectHome__span">HOME</span></h1>
        <div class="projectHome__btn">
            <button class="projectHome__btnLeft"><i class="uil uil-angle-left-b"></i></button>
            <button class="projectHome__btnRight"><i class="uil uil-angle-right-b"></i></button>
        </div>
        <span class="counter">01</span><span class="counter">/</span><span class="counter">02</span>
    </div>
    <div>
    <img class="projectHome__img" src="https://raw.githubusercontent.com/ZavadskiyAS/test/master/src/assets/img/png/projectHome.png">
    <button class="projectHome__btnImg">Взглянуть <i class="uil uil-arrow-right"></i></button>
    </div>
</section>